In [11]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# references:

1. https://www.kaggle.com/ashwingadam/prediction-of-the-imdb-rating-using-xgboost
2. https://www.kaggle.com/srinag/movielens-rating-prediction-modeling
3. https://rpubs.com/Khonjeja/640861
4. https://rpubs.com/Jango/486734
5. https://keras.io/examples/structured_data/collaborative_filtering_movielens/
6. http://rstudio-pubs-static.s3.amazonaws.com/492432_1de5f36027184050a8d19cf674b0daeb.html
7. https://datascience-enthusiast.com/Python/cs110_lab2_als_prediction.html
8. https://paperswithcode.com/sota/collaborative-filtering-on-movielens-1m

In [13]:
# Constants
train_columns = ['UserID', 'MovieID', 'Rating', 'Timestamp']
test_columns = ['UserID', 'MovieID', 'Timestamp']
movies_columns = ['MovieID', 'Title', 'Genres']
users_columns = ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']

In [52]:
import pandas as pd 
import numpy as np 
prefix = "/content/drive/MyDrive/MovieRecommenderDataset/"
movies = pd.read_csv(prefix+'movies.txt', sep='::', header=None, engine='python')
# movies.drop(0, inplace=True, axis=1)
movies.columns = movies_columns
users = pd.read_csv(prefix+'users.txt', sep='::', header=None, engine='python')
users.columns = users_columns
training = pd.read_csv(prefix+'training.txt', sep=',', header=None, engine='python')
training.columns = train_columns
testing = pd.read_csv(prefix+'testing.txt', sep=',', header=None, engine='python')
testing.columns = test_columns

rating = pd.read_csv('ratings.dat', sep='::', header=None)
rating.columns = train_columns

# print('USER')
# users.head(3)
# print('MOVIES')
# movies.head(3)
# print('TRAIN')
training.head(3)
# print('TEST')
# testing.head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   UserID  MovieID  Rating  Timestamp
0      63     3006       4  977899676
1    1125       10       2  975625890
2     181     2384       2  977088920

In [15]:
import pandas_profiling 

# pandas_profiling.ProfileReport(movies)

In [16]:
# pandas_profiling.ProfileReport(users)

In [17]:
train_ = pd.merge(training,users)
train_ = pd.merge(train_, movies)
train_.drop('Timestamp', inplace=True, axis=1)
train_.drop('Title', inplace=True, axis=1)
# train_.drop('UserID', inplace=True, axis=1)
# train_.drop('Genres', inplace=True, axis=1)
train_['Rating'] = train_['Rating'].astype(float)

train_.dropna(inplace=True)
print(train_.head(3))
display(train_.shape)

# User based
train_ub = pd.merge(training,users)
train_ub = pd.merge(train_ub, movies)
train_ub.drop('Timestamp', inplace=True, axis=1)
train_ub['Rating'] = train_ub['Rating'].astype(float)
train_ub.dropna(inplace=True)

   UserID  MovieID  Rating Gender  Age  Occupation Zip-code Genres
0      63     3006     4.0      M   18           4    54902  Drama
1    5283     3006     5.0      M   18           2    63138  Drama
2    5433     3006     3.0      F   35          17    45014  Drama

(700146, 8)

In [18]:
test_ = pd.merge(testing, users)
test_ = pd.merge(test_, movies)
test_.drop('Timestamp', inplace=True, axis=1)
test_.drop('Title', inplace=True, axis=1)
# test_.drop('UserID', inplace=True, axis=1)
print(test_.head(3))

# User based
test_ub = pd.merge(testing,users)
test_ub = pd.merge(test_ub, movies)
test_ub.drop('Timestamp', inplace=True, axis=1)
test_ub.dropna(inplace=True)

   UserID  MovieID Gender  Age  Occupation Zip-code    Genres
0     324     2803      M   35          17    55106  Thriller
1     935     2803      M   35          14    60538  Thriller
2     678     2803      M   25           0    34952  Thriller

In [19]:
test_ub['UserID'][0]

324

In [20]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
genres_df = pd.DataFrame(
    mlb.fit_transform(train_['Genres'].str.split('|').tolist()),
    columns=mlb.classes_
    )

test_genres_df = pd.DataFrame(
    mlb.transform(test_['Genres'].str.split('|').tolist()),
    columns=mlb.classes_
    )

train_2 = train_.join(genres_df)
train_2.drop('Genres', inplace=True, axis=1)
train_2.head(3)

test_2 = test_.join(test_genres_df)
test_2.drop('Genres', inplace=True, axis=1)

In [21]:
train_2['Age'].value_counts()

25    276870
35    139318
18    128465
45     58555
50     50742
56     27155
1      19041
Name: Age, dtype: int64

In [22]:
train_2.loc[train_2['Age'] == 1].sample(5)

        UserID  MovieID  Rating Gender  ...  Sci-Fi  Thriller War  Western
627980    1509     2346     4.0      M  ...       1         1   0        0
210737    4830      673     2.0      M  ...       0         0   0        0
462961    1468       44     1.0      M  ...       0         0   0        0
470154    1926     3000     5.0      F  ...       0         0   0        0
459136    1241     3298     3.0      M  ...       0         0   0        0

[5 rows x 25 columns]

In [23]:
train_3 = train_2.copy()
test_3 = test_2.copy()
bins = [0, 9, 19, 29, 39, 49, 59, np.inf]
names = [0,1,2,3,4,5,6]
# names= ['children', 'teen', 'young adult', 'adult', 'mid-age', 'old', 'dying']
train_3['AgeRange'] = pd.to_numeric(pd.cut(train_3['Age'], bins, labels=names))
test_3['AgeRange'] = pd.to_numeric(pd.cut(test_3['Age'], bins, labels=names))
train_3.head(5)

   UserID  MovieID  Rating Gender  ...  Thriller  War Western  AgeRange
0      63     3006     4.0      M  ...         0    0       0         1
1    5283     3006     5.0      M  ...         0    0       0         1
2    5433     3006     3.0      F  ...         0    0       0         3
3     192     3006     3.0      M  ...         0    0       0         1
4    1532     3006     5.0      M  ...         0    0       0         1

[5 rows x 26 columns]

In [24]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

train_3['Gender'] = labelencoder.fit_transform(train_3['Gender'])
test_3['Gender'] = labelencoder.transform(test_3['Gender'])
train_3.head()

   UserID  MovieID  Rating  Gender  ...  Thriller  War Western  AgeRange
0      63     3006     4.0       1  ...         0    0       0         1
1    5283     3006     5.0       1  ...         0    0       0         1
2    5433     3006     3.0       0  ...         0    0       0         3
3     192     3006     3.0       1  ...         0    0       0         1
4    1532     3006     5.0       1  ...         0    0       0         1

[5 rows x 26 columns]

In [25]:
train_3.groupby('AgeRange').apply(lambda s: s.sample(1))

                 UserID  MovieID  Rating  ...  War  Western  AgeRange
AgeRange                                  ...
0        164774    4006     3052     4.0  ...    0        0         0
1        60642      429        6     5.0  ...    0        0         1
2        254902     575     3253     2.0  ...    0        0         2
3        129545     957     3178     4.0  ...    0        0         3
4        318963    3096     1372     5.0  ...    0        0         4
5        601459     296     3515     1.0  ...    0        0         5

[6 rows x 26 columns]

In [26]:
train_3.drop('Age', inplace=True, axis=1)
test_3.drop('Age', inplace=True, axis=1)
# train_3.drop('Zip-code', inplace=True, axis=1)

In [27]:
train_final = train_3
print(train_final.head())
test_final = test_3
print(test_final.head())

   UserID  MovieID  Rating  Gender  ...  Thriller War  Western  AgeRange
0      63     3006     4.0       1  ...         0   0        0         1
1    5283     3006     5.0       1  ...         0   0        0         1
2    5433     3006     3.0       0  ...         0   0        0         3
3     192     3006     3.0       1  ...         0   0        0         1
4    1532     3006     5.0       1  ...         0   0        0         1

[5 rows x 25 columns]
   UserID  MovieID  Gender  Occupation  ... Thriller  War  Western  AgeRange
0     324     2803       1          17  ...        1    0        0         3
1     935     2803       1          14  ...        1    0        0         3
2     678     2803       1           0  ...        1    0        0         2
3    2887     2803       1           3  ...        1    0        0         2
4    3720     2803       1           7  ...        1    0        0         4

[5 rows x 24 columns]

In [28]:
# columns = [ "Zip-code", "UserID", "MovieID", "Rating"]

# columns = [ "Zip-code", "Occupation", "Gender", "AgeRange"]

columns = [ "Zip-code", "Occupation", "Gender", "AgeRange"]


train_labels = train_final["Rating"]
# train_3.drop('Age', inplace=True, axis=1)
train_data = train_final.drop(columns=columns+["Rating"])
test_data = test_final.drop(columns=columns)
train_data

# train_labels = final_df_["Rating"]
# # train_3.drop('Age', inplace=True, axis=1)
# train_data = final_df_.drop(columns=["Rating"])
# test_data = test_data_
# train_data

final_df = train_data.join(train_labels)
final_df_ = final_df.groupby(["UserID", "MovieID"])[final_df.columns.values[2:]].sum().reset_index()
test_data_ = test_data.groupby(["UserID", "MovieID"])[test_data.columns.values[2:]].sum().reset_index()
display(final_df_.head())
display(test_data_.head())

   UserID  MovieID  Action  Adventure  ...  Thriller  War  Western  Rating
0       1        1       0          0  ...         0    0        0     5.0
1       1      260       1          1  ...         0    0        0     4.0
2       1      588       0          0  ...         0    0        0     4.0
3       1      594       0          0  ...         0    0        0     4.0
4       1      595       0          0  ...         0    0        0     5.0

[5 rows x 21 columns]

   UserID  MovieID  Action  Adventure  ...  Sci-Fi  Thriller  War  Western
0       1       48       0          0  ...       0         0    0        0
1       1      150       0          0  ...       0         0    0        0
2       1      527       0          0  ...       0         0    1        0
3       1      531       0          0  ...       0         0    0        0
4       1      919       0          1  ...       0         0    0        0

[5 rows x 20 columns]

# New Section

In [ ]:
# from catboost import CatBoostRegressor

# model = CatBoostRegressor(iterations=100, learning_rate=1, depth=2, verbose=False)
# # Fit model
# model.fit(train_data, train_labels)
# # Get predictions
# preds = model.predict(test_data)

In [ ]:
# preds[:1000]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_data, train_labels, test_size=0.33, random_state=7)

# RandomForest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

random_forest = RandomForestRegressor(max_depth=10, random_state=0)
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
print(Y_pred)
print(y_test)
# acc_random_forest = round(random_forest.score(y_test, Y_pred) * 100, 2)
# print(acc_random_forest)
mse = mean_squared_error(y_test, Y_pred)
print("rmse: %.2f" % (mse**0.5))

# New Section

# New Section

In [ ]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(max_depth=10, random_state=0)
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
print(Y_pred)
print(y_test)
# acc_random_forest = round(random_forest.score(y_test, Y_pred) * 100, 2)
# print(acc_random_forest)
mse = mean_squared_error(y_test, Y_pred)
print("rmse: %.2f" % (mse**0.5))

In [ ]:
random_forest = RandomForestRegressor(max_depth=10, random_state=0)
random_forest.fit(train_data, train_labels)
pred = random_forest.predict(test_data)

In [ ]:
print(pred[:1000])

In [ ]:
print("rmse: %.2f" % mse)

In [ ]:
Y_pred[:9]

# XGBoost Regressor

In [ ]:
# train-test split evaluation of xgboost model
from numpy import loadtxt
from xgboost import XGBRegressor

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

xgb1 = XGBRegressor(n_estimators=100, learning_rate=0.2, gamma=0, subsample=0.75,
colsample_bytree=1, max_depth=7)
# parameters = {'nthread':[4], #when use hyperthread, xgboost may become slower
#               'objective':['reg:linear'],
#               'learning_rate': [.03, 0.05, .07], #so called `eta` value
#               'max_depth': [5, 6, 7],
#               'min_child_weight': [4],
#               'silent': [1],
#               'subsample': [0.7],
#               'colsample_bytree': [0.7],
#               'n_estimators': [500]}

# params['eval_metric'] = "rmse"
# num_boost_round = 999

# xgb_grid = GridSearchCV(xgb1,
#                         parameters,
#                         scoring='neg_root_mean_squared_error',
#                         cv = 2,
#                         n_jobs = 5,
#                         verbose=True)


# xgb_grid.fit(train_data,
#          train_labels)

# xgb1.fit(train_data,
#           train_labels)

xgb1.fit(X_train,
          y_train)

# print(xgb1.best_score_)
# print(xgb1.best_params_)

# model.fit(X_train, y_train)
# make predictions for test data
# y_pred = model.predict(X_test)
# predictions = [round(value) for value in y_pred]
# # evaluate predictions
# accuracy = accuracy_score(y_test, predictions)
# mse = mean_squared_error(y_test, predictions)
# print("Accuracy: %.2f%%" % (accuracy * 100.0))
# print("rmse: %.2f%%" % (mse**0.5))

In [ ]:
preds = xgb1.predict(X_test)
print("rmse: %.2f" % (mse**0.5))
print(preds[1000:2000])
print(y_test)
mse = mean_squared_error(preds,y_test)

In [ ]:
from xgboost import XGBClassifier
xgb2 = XGBClassifier(n_estimators=100, learning_rate=0.05, gamma=0, subsample=0.75,
colsample_bytree=1, max_depth=7)

xgb2.fit(X_train,
          y_train)

preds2 = xgb2.predict(X_test)
print(preds2[5])
print(y_test)
mse = mean_squared_error(preds2,y_test)
print("rmse: %.2f" % (mse**0.5))

In [ ]:
print(preds2[:5])
print(y_test)

In [ ]:
import sklearn
sorted(sklearn.metrics.SCORERS.keys())

In [ ]:
print(y_test.value_counts())

# Collaborative Filtering with Keras

In [ ]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

In [ ]:
train_data.head()

In [ ]:
df = train_data.copy()
user_ids = df["UserID"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}
movie_ids = df["MovieID"].unique().tolist()
movie2movie_encoded = {x: i for i, x in enumerate(movie_ids)}
movie_encoded2movie = {i: x for i, x in enumerate(movie_ids)}
df["User"] = df["UserID"].map(user2user_encoded)
df["Movie"] = df["MovieID"].map(movie2movie_encoded)
num_users = len(user2user_encoded)
num_movies = len(movie_encoded2movie)

In [ ]:
df.head()

In [ ]:
# df = train_data.sample(frac=1, random_state=42)
# df = train_data.join(train_labels)
df = df.join(train_labels)
df = df.drop(columns=['UserID', 'MovieID'])
# x = df[["User", "Movie"]].values
x = df.iloc[:,:-1].values
min_rating = min(df["Rating"])
max_rating = max(df["Rating"])
# Normalize the targets between 0 and 1. Makes it easy to train.
y = df["Rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
# Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
    x[:train_indices],
    x[train_indices:],
    y[:train_indices],
    y[train_indices:],
)

In [ ]:
print(x_train[0:3])

In [ ]:
df.head()

In [ ]:
EMBEDDING_SIZE = 50


class RecommenderNet(keras.Model):
    def __init__(self, num_users, num_movies, embedding_size, **kwargs):
        super(RecommenderNet, self).__init__(**kwargs)
        self.num_users = num_users
        self.num_movies = num_movies
        self.embedding_size = embedding_size
        self.user_embedding = layers.Embedding(
            num_users,
            embedding_size,
            embeddings_initializer="he_normal",
            embeddings_regularizer=keras.regularizers.l2(1e-6),
        )
        self.user_bias = layers.Embedding(num_users, 1)
        self.movie_embedding = layers.Embedding(
            num_movies,
            embedding_size,
            embeddings_initializer="he_normal",
            embeddings_regularizer=keras.regularizers.l2(1e-6),
        )
        self.movie_bias = layers.Embedding(num_movies, 1)

    def call(self, inputs):
        user_vector = self.user_embedding(inputs[:, 0])
        user_bias = self.user_bias(inputs[:, 0])
        movie_vector = self.movie_embedding(inputs[:, 1])
        movie_bias = self.movie_bias(inputs[:, 1])
        dot_user_movie = tf.tensordot(user_vector, movie_vector, 2)
        # Add all the components (including bias)
        x = dot_user_movie + user_bias + movie_bias
        # The sigmoid activation forces the rating to between 0 and 1
        return tf.nn.sigmoid(x)


model = RecommenderNet(num_users, num_movies, EMBEDDING_SIZE)
model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(), optimizer=keras.optimizers.Adam(lr=0.001)
)

In [ ]:
history = model.fit(
    x=x_train,
    y=y_train,
    batch_size=64,
    epochs=10,
    verbose=1,
    validation_data=(x_val, y_val),
)

In [ ]:
plt.plot(history.history["loss"])
plt.plot(history.history["val_loss"])
plt.title("model loss")
plt.ylabel("loss")
plt.xlabel("epoch")
plt.legend(["train", "test"], loc="upper left")
plt.show()

predict

In [ ]:
pred_nn = model.predict(x_val).flatten()

In [ ]:
for i,rating in enumerate(pred_nn):
    pred_nn[i]= pred_nn[i] * (max_rating - min_rating) + min_rating
print(pred_nn)

mse = mean_squared_error(pred_nn,y_val)
print("rmse: %.2f" % (mse**0.5))

# Bayesian FM

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error
!pip install myfm
import myfm

Collecting myfm
  Downloading https://files.pythonhosted.org/packages/bb/ad/48e6336baf369d57a798318ec4d24a316e052afb9b29a36574695d23a287/myfm-0.3.0.0.tar.gz (85kB)
     |████████████████████████████████| 92kB 5.4MB/s
Collecting pybind11>=2.5.0
  Using cached https://files.pythonhosted.org/packages/00/84/fc9dc13ee536ba5e6b8fd10ce368fea5b738fe394c3b296cde7c9b144a92/pybind11-2.6.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from myfm) (1.18.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.6/dist-packages (from myfm) (1.4.1)
Requirement already satisfied: tqdm>=4 in /usr/local/lib/python3.6/dist-packages (from myfm) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from myfm) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->myfm) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->myfm) (2020.11.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->myfm) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->myfm) (2.10)
Building wheels for collected packages: myfm
  Building wheel for myfm (setup.py) ... done
  Created wheel for myfm: filename=myfm-0.3.0.0-cp36-cp36m-linux_x86_64.whl size=4881988 sha256=cb810386993852db0c24d26b999f152b37f2a008845ffa3b08601dd3bc78214e
  Stored in directory: /root/.cache/pip/wheels/b0/65/85/56f057f67b4b59012f92e933c5a331f752b5355fefc194dae8
Successfully built myfm
Installing collected packages: pybind11, myfm
Successfully installed myfm-0.3.0.0 pybind11-2.6.1

In [ ]:
train_data.head()

   UserID  MovieID  Action  Adventure  ...  Sci-Fi  Thriller  War  Western
0      63     3006       0          0  ...       0         0    0        0
1    5283     3006       0          0  ...       0         0    0        0
2    5433     3006       0          0  ...       0         0    0        0
3     192     3006       0          0  ...       0         0    0        0
4    1532     3006       0          0  ...       0         0    0        0

[5 rows x 20 columns]

In [ ]:
# df_train = X_train.join(y_train)
# df_test = X_test.join(y_test)

def test_myfm(df_train, df_test, rank=8, grouping=None, n_iter=100, samples=95, final_predict=False):
    # explanation_columns = ['UserID', 'MovieID']
    ohe = OneHotEncoder(handle_unknown='ignore')
    X_train = ohe.fit_transform(df_train.iloc[:,:-1])
    if(not final_predict):
      X_test = ohe.transform(df_test.iloc[:,:-1])
    else:
      X_test = ohe.transform(df_test)
    # X_train = ohe.fit_transform(df_train[explanation_columns])
    # X_test = ohe.transform(df_test[explanation_columns])
    y_train = df_train.Rating.values

    # print(X_train)
    fm = myfm.MyFMRegressor(rank=rank, random_seed=114514)

    if grouping:
        # assign group index for each column of X_train.
        grouping = [ i for i, category in enumerate(ohe.categories_) for _ in category]
        assert len(grouping) == X_train.shape[1]

    fm.fit(X_train, y_train, grouping=grouping, n_iter=n_iter, n_kept_samples=samples)
    prediction = fm.predict(X_test)

    if(not final_predict):
      y_test = df_test.Rating.values
      rmse = ((y_test - prediction) ** 2).mean() ** .5
      mae = np.abs(y_test - prediction).mean()
      print('rmse={rmse}, mae={mae}'.format(rmse=rmse, mae=mae))
    return fm, ohe, prediction


# fm, preds = test_myfm(final_df, df_test, rank=8)

In [ ]:
df_train = X_train.join(y_train)
df_train_ = df_train.groupby(["UserID", "MovieID"])[df_train.columns.values[2:]].sum().reset_index()
df_test = X_test.join(y_test)
df_test_ = df_test.groupby(["UserID", "MovieID"])[df_test.columns.values[2:]].sum().reset_index()
display(df_train_.head())
fm, ohe, preds = test_myfm(df_train_, df_test_, rank=2, final_predict=False)

# rank2 rmse 0.8792
# grouping = 0.8814
# 0.877 after groupby manual?

   UserID  MovieID  Action  Adventure  ...  Thriller  War  Western  Rating
0       1      588       0          0  ...         0    0        0     4.0
1       1      608       0          0  ...         1    0        0     4.0
2       1      720       0          0  ...         0    0        0     3.0
3       1      783       0          0  ...         0    0        0     4.0
4       1      914       0          0  ...         0    0        0     3.0

[5 rows x 21 columns]

alpha = 1.37 w0 = 3.60 : 100%|██████████| 100/100 [00:27<00:00,  3.64it/s]

rmse=0.8770311786649296, mae=0.6914848741986341

In [ ]:
final_df = train_data.join(train_labels)
final_df_ = final_df.groupby(["UserID", "MovieID"])[final_df.columns.values[2:]].sum().reset_index()
test_data_ = test_data.groupby(["UserID", "MovieID"])[test_data.columns.values[2:]].sum().reset_index()
display(final_df_.head())
display(test_data_.head())

   UserID  MovieID  Action  Adventure  ...  Thriller  War  Western  Rating
0       1        1       0          0  ...         0    0        0     5.0
1       1      260       1          1  ...         0    0        0     4.0
2       1      588       0          0  ...         0    0        0     4.0
3       1      594       0          0  ...         0    0        0     4.0
4       1      595       0          0  ...         0    0        0     5.0

[5 rows x 21 columns]

   UserID  MovieID  Action  Adventure  ...  Sci-Fi  Thriller  War  Western
0       1       48       0          0  ...       0         0    0        0
1       1      150       0          0  ...       0         0    0        0
2       1      527       0          0  ...       0         0    1        0
3       1      531       0          0  ...       0         0    0        0
4       1      919       0          1  ...       0         0    0        0

[5 rows x 20 columns]

In [ ]:
fm, ohe, preds = test_myfm(final_df_, test_data_, rank=2, final_predict=True)

alpha = 1.38 w0 = 3.29 : 100%|██████████| 100/100 [00:45<00:00,  2.22it/s]

In [ ]:
print(len(preds))
print(len(test_data))
print(preds[:100])

300063
300063
[3.27067637 4.37316941 4.71276484 3.93135748 4.44668921 3.78037041
 3.90032606 4.26627618 4.43000207 3.93386982 4.04452682 3.99756878
 3.87455734 4.24932144 3.97774573 4.29545315 3.39054223 3.22302568
 2.96518663 3.55401256 2.89632925 2.90525428 3.01599175 3.38597435
 3.947199   3.89038491 3.69497629 4.20673824 3.84751069 4.05454245
 3.46043932 3.52142516 3.93324756 3.68498682 4.04812228 3.75031511
 3.46378446 3.88861019 3.26616752 4.00989115 3.20363083 3.91341208
 3.96297918 4.21764886 3.90745053 3.77953309 3.58872038 3.69263977
 3.35228216 3.97060625 3.82551858 3.08512371 4.06762506 3.8434272
 3.43804497 4.05198073 3.66570413 4.40084257 4.17302763 4.33306214
 4.33772376 3.39523465 3.60142319 3.92314587 3.83267905 3.88256062
 3.31384402 3.64291181 4.00616127 3.38842023 4.47679397 4.08412254
 4.38064458 4.1125065  4.54993207 4.16527619 3.52834445 3.12373366
 3.05988149 4.2911092  3.58064063 2.94282704 3.16476477 3.41981506
 3.23877872 3.29187914 3.57012493 4.33655298 3.75030506 3.87380601
 3.77172802 3.74773463 3.99758912 2.76339598 3.53285441 2.29173551
 3.0216597  3.45373498 2.83849344 3.93554463]

# Factorization Machine

In [ ]:
#One hot encoding
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer, normalize
def OneHotEncoding(train,test):
    encoder = OneHotEncoder(handle_unknown='ignore').fit(train)
    train = encoder.transform(train)
    test = encoder.transform(test)
    return train, test

In [ ]:
# !pip install fastFM
from fastFM import als

# xtrain, xtest, ytrain, ytest = split_testtrain(ratings, 0.2)
# xtrain_enc, xtest_enc = OneHotEncoding(xtrain, xtest)

#Factorization machine
fm = als.FMRegression(n_iter=100, rank=2, l2_reg_w=0.1, l2_reg_V=0.1)
xtrain_enc, xtest_enc = OneHotEncoding(final_df_.iloc[:,:-1], test_data_)

fm.fit(xtrain_enc, final_df_.iloc[:,-1])
predictions = fm.predict(xtest_enc)

#Evaluation metrics
# rmse = sqrt(mean_squared_error(ytest,predictions))
# mae = mean_absolute_error(ytest,predictions)
# coverage = rec_coverage(xtest, ytest, predictions, 10)
# print("rmse", rmse)

In [ ]:
predictions[:100]

array([3.38355116, 4.46458789, 4.77861055, 4.00740733, 4.50623167,
       3.8334357 , 3.94786304, 4.38030973, 4.39593153, 3.84682394,
       4.16027485, 4.09975531, 3.91013915, 4.35466737, 4.08965862,
       4.21784687, 3.23313407, 2.54600751, 2.19551555, 3.73144143,
       2.77408463, 2.73281289, 2.74124831, 3.32455196, 4.30692185,
       4.24731511, 4.08411636, 4.26940809, 3.87195759, 4.13179946,
       3.05641697, 2.9759393 , 3.96352447, 3.61144555, 4.15454019,
       3.82692794, 3.47448237, 4.01906257, 3.12741348, 4.18110685,
       3.18722381, 4.01986453, 4.29408402, 4.10886766, 3.86278594,
       4.28287215, 3.61973129, 3.81894253, 3.42656623, 4.12592668,
       4.00338931, 3.41768863, 3.89423424, 3.90911056, 3.68509275,
       4.32405063, 3.88243643, 4.34089701, 3.98424113, 4.28161461,
       4.50874258, 3.53441717, 3.26358918, 4.04718876, 3.8367971 ,
       4.09754777, 3.4968134 , 2.9937551 , 4.01875025, 3.45230537,
       4.50054628, 4.00751614, 4.44669468, 4.11101065, 4.68889623,
       4.2111995 , 3.39806197, 3.01225573, 2.75230886, 4.54734662,
       3.69460253, 2.83027987, 3.40351084, 3.42529132, 3.20538384,
       3.29606539, 4.12451457, 4.38288002, 3.60984274, 3.68162217,
       3.82995749, 3.8798107 , 4.10993017, 2.70518567, 3.66937502,
       2.16469009, 2.84085419, 3.23407578, 2.71408176, 4.17801099])

# SVD

In [7]:
import pandas as pd
import numpy as np
!pip install surprise
from surprise import SVD, SVDpp
from surprise import Dataset
from surprise.model_selection import cross_validate

from surprise import Reader

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 4.0MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.17.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp36-cp36m-linux_x86_64.whl size=1670968 sha256=5cfb7891afd4793e250ce347df27a6a1e3c21b2063c2461ce835418058bd46ef
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
final_df_.head()

   UserID  MovieID  Action  Adventure  ...  Thriller  War  Western  Rating
0      63     3006       0          0  ...         0    0        0     4.0
1    5283     3006       0          0  ...         0    0        0     5.0
2    5433     3006       0          0  ...         0    0        0     3.0
3     192     3006       0          0  ...         0    0        0     3.0
4    1532     3006       0          0  ...         0    0        0     5.0

[5 rows x 21 columns]

In [29]:
reader = Reader()
data = Dataset.load_from_df(final_df_[['UserID', 'MovieID', 'Rating']], reader)

In [30]:
from surprise.model_selection import GridSearchCV

svd = SVD()

# optimal params from https://github.com/microsoft/recommenders/blob/84444c5f40237bea69e44f7b2fb5097530ed9920/notebooks/04_model_select_and_optimize/azureml_hyperdrive_tuning_svd.ipynb

# --datastore $AZUREML_DATAREFERENCE_workspaceblobstore 
# --train-datapath data/movielens_100k_train.pkl 
# --validation-datapath data/movielens_100k_val.pkl 
# --output_dir ./outputs --surprise-reader ml-100k 
# --rating-metrics rmse --ranking-metrics precision_at_k ndcg_at_k 
# --usercol userID --itemcol itemID --k 10 --random-state 0 
# --epochs 30 --biased --verbose --n_factors 100 
# --init_mean -0.00373842687107999 --init_std_dev 0.0102254534112653 
# --lr_bu 1E-06 --lr_bi 1E-06 --lr_pu 1E-06 --lr_qi 0.00611767666611114 
# --reg_bu 0.920265632488417 --reg_bi 0.515315667765222 
# --reg_pu 0.258131187700377 --reg_qi 1E-06

param_grid = { 'n_epochs': [50,100,200,250]
            }

# best params?
# 'n_epochs': [100]
# n_factors: 150
# lr_all: 0.005
# reg_all: 0.02

# try:
# reg_all 0.015?
# init_stdev=0.1
gs = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=3)

gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

# cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=10, verbose=True)

KeyboardInterrupt: ignored

In [31]:
svd_final = SVD(
    n_factors= 100,
    n_epochs= 200, 
    lr_all= 0.005,  # or 0.01?
    reg_all= 0.02)

trainset = data.build_full_trainset()
svd_final.fit(trainset)

In [32]:
predictions = []
for index, row in testing.iterrows():
    # print(row)
    predictions.append(svd_final.predict(row['UserID'], row['MovieID']).est)
    # break
predictions

[3.7736285745274216,
 2.803346512350932,
 3.48175692530211,
 3.7425982301151146,
 4.626636979764742,
 3.3507367369410153,
 3.5802324731125723,
 3.1237190607843295,
 3.46832421978412,
 2.808740539606293,
 3.897415242156248,
 3.5308224901042102,
 3.567673987382939,
 5,
 3.534757807041744,
 3.901934534458646,
 3.6942748941642476,
 2.8388892572896225,
 4.044029144413425,
 3.2989722131279158,
 3.8799517796252845,
 4.590572173636387,
 3.675896932667797,
 3.268569369246497,
 2.478175689039106,
 4.663048082895202,
 2.819628216639774,
 3.3373053936337738,
 4.202095506584332,
 4.13258197673259,
 2.9566970103200334,
 4.361904429676159,
 4.170842480626345,
 3.321881832300967,
 2.814053940068231,
 4.4644027346392665,
 3.1392609672710705,
 3.824555525658225,
 4.7053781573969475,
 4.7429379072843805,
 4.943442874987028,
 3.2327173304396277,
 4.039234377121685,
 4.968071851078094,
 4.1846297433572355,
 3.6064902510048604,
 2.975631639222573,
 3.435166818304423,
 3.629387786953555,
 4.141793676530607,
 3.2199157353171706,
 4.052659725317881,
 2.9418739079625302,
 3.4187473149506737,
 4.142150120978718,
 3.876122340106757,
 3.809729276345234,
 4.202806884495809,
 4.091134306311322,
 3.940760602993799,
 4.153767662306079,
 3.6243695234179794,
 3.3085692343064967,
 4.417882413934797,
 4.744708806876643,
 2.625691706561158,
 2.8402308315513354,
 2.6942236827618573,
 2.919764484526093,
 4.4280981245437925,
 3.240312079409296,
 3.693722850760736,
 3.31464661208877,
 3.5074278915511874,
 3.672323604976208,
 4.692353607655667,
 3.611229237815605,
 3.5477012360022115,
 2.982816370721375,
 3.1126444474033206,
 1.6885896543008814,
 3.842174327504653,
 3.6469503716064295,
 3.770710944155785,
 4.111598679610004,
 4.1018394061754435,
 4.492369423255809,
 3.4817042467582024,
 3.9520464930536,
 2.3292410107682664,
 3.9237120904532996,
 3.919813821806842,
 3.5420646300287983,
 1,
 4.275826196367246,
 4.12944718546425,
 4.966401406176567,
 3.241550208795198,
 4.416046275073043,
 4.908647593096436,
 3.1172682792591413,
 3.9376435519544737,
 5,
 3.4153326868691405,
 4.786309270232426,
 3.7091157936865997,
 4.453331307720309,
 4.5641635563870695,
 2.6216842743831443,
 4.302171798848207,
 2.7259129254449874,
 3.864698654058171,
 2.8759818115145177,
 2.8312391729669053,
 4.033104383488743,
 3.5641017243640594,
 4.829979557109251,
 3.898154645080147,
 4.080233922302722,
 4.970333118961764,
 2.901583074997777,
 2.293789284235809,
 4.681094703686959,
 4.400059447517864,
 4.090567291226072,
 2.943867329139062,
 3.9975162962360997,
 4.1163438390544655,
 3.9153865921412008,
 4.537108299454017,
 4.310460613089877,
 3.9280302281618207,
 1.9151905836747127,
 3.7393987115747764,
 4.100178944094425,
 4.683831145672281,
 1,
 4.812358082752191,
 3.8071142494487873,
 2.374420629191996,
 2.762894624307003,
 2.7087781903017736,
 3.092677424119945,
 2.756745323719438,
 4.162891156582416,
 3.9514285003338863,
 3.942432666254676,
 3.9441739514953156,
 3.0485525188706784,
 4.0456930160325655,
 3.509598284628763,
 2.521023810932941,
 3.287664630261323,
 4.009415791855771,
 3.024930186990362,
 4.428362779017389,
 3.770730973009269,
 3.639619907633942,
 3.247882642096647,
 4.436653421130353,
 3.452782821349421,
 4.687176601374078,
 3.1497557070883393,
 4.408465801834564,
 4.516572958567172,
 4.95584477945055,
 3.8049865789801567,
 2.734611078914078,
 3.943728238690243,
 2.515033705902411,
 3.5012282861481383,
 4.098749410343892,
 4.22272837947626,
 4.320040908940126,
 2.4901613766195037,
 4.2684689654759875,
 2.8216197653140807,
 4.141152836716245,
 4.00202470119649,
 4.106007753010037,
 3.6240120841910337,
 3.9486445307283047,
 3.5269054267614406,
 4.117923229393794,
 3.805205715254389,
 3.2699409396638153,
 4.480127748400756,
 3.698277622581096,
 4.233235134374151,
 2.665075012017143,
 3.7901448226055097,
 4.216920371107725,
 3.047915278419826,
 3.2931803959559365,
 4.5823121446787844,
 3.231187157687689,
 3.6350904381763054,
 2.4198650862438833,
 3.279984861882079,
 3.7982507624134265,
 2.108495426210097,
 4.938931857347508,
 4.911635204953431,
 5,
 2.381363722932116,
 4.24608987014088,
 2.886935335082495,
 2.5722637002501014,
 2.610216476721092,
 3.203035887147925,
 3.2741262123033628,
 3.7962768805417344,
 4.161200023384186,
 4.775372378525141,
 1.899636177438835,
 5,
 3.1798088974372325,
 4.179088770202572,
 3.9205441450626464,
 3.3021836484056273,
 2.1680680866696598,
 2.9272669261886515,
 3.5533330689928735,
 3.397460824460655,
 3.653036886100826,
 2.7224298169780123,
 3.3931612010557455,
 3.475591380173814,
 3.6991207822134755,
 2.3440228120402913,
 2.6231327953560815,
 5,
 3.665348310646597,
 4.582922879096885,
 3.870271864717464,
 3.3944526205288694,
 4.011758555903258,
 3.815820660899141,
 3.1286629541643247,
 3.471521322925078,
 4.0299975525703955,
 3.695043127837317,
 5,
 3.66326801317406,
 3.1704077732383293,
 4.3034319097919305,
 4.637771584912403,
 4.141698958980498,
 3.2930606445151986,
 2.9053710543072366,
 3.497767581488447,
 4.46844516333854,
 3.411321818935521,
 3.824283310459432,
 3.542942360994783,
 3.9988979313366793,
 2.752186379267931,
 3.899859665498343,
 2.874961040802368,
 3.172140376994712,
 1.4186929340331358,
 3.338546738849927,
 3.7441323271837406,
 3.8288447477814573,
 2.7032744395151638,
 2.7918506116519257,
 5,
 1.7198954387553613,
 3.1687902596844153,
 3.832098830813463,
 4.201565506863587,
 4.185498633764085,
 3.54910384385595,
 3.980606699063873,
 3.357137279311392,
 3.4395701966681305,
 4.667920076187871,
 4.3853782054618105,
 3.4085020693451766,
 4.502752807595207,
 3.4405008910854837,
 3.918561746166525,
 3.793319670997853,
 3.3169670189491596,
 3.3280578111008516,
 2.303554028152434,
 3.5346132387087237,
 3.86832944001979,
 4.0627471826763655,
 3.957539247013247,
 3.870963583696763,
 3.516149978350261,
 4.2187259905616346,
 3.7794524027367915,
 3.6843860770969736,
 4.7625638125700265,
 3.009245673231667,
 3.5452376067610887,
 4.320279807702628,
 3.5434799064390297,
 3.9042214111202167,
 3.974667372953867,
 3.920569776356997,
 3.5618452755346497,
 2.0702628522479687,
 3.8536566049420706,
 4.170598054213389,
 3.505161552204877,
 3.3922527993790177,
 3.5146434365142527,
 4.19836819757773,
 3.0824018461711047,
 4.130787186443878,
 4.05557759743077,
 4.239733300758499,
 3.450653877514789,
 4.146513549489027,
 4.567977691418316,
 2.9536756150900643,
 2.652797386699767,
 3.804146796703207,
 3.504120555750418,
 3.659795538952528,
 3.4856255598790318,
 4.4610770285793855,
 3.613133371598454,
 4.106894280425155,
 4.050316976391411,
 4.842975876882914,
 3.352854802809891,
 4.162657436585846,
 2.9960738394262934,
 4.202490942460721,
 3.1609530046871606,
 3.515329531326908,
 2.7455782858103426,
 3.4503456251718765,
 3.271921538790521,
 3.3030874745463796,
 3.689666425273015,
 4.92179434240069,
 3.073621972715953,
 3.1271942507760375,
 3.7019336006472967,
 3.5158074459881155,
 2.6537040087159984,
 3.7519280313478243,
 2.589134120852881,
 2.6803321317584863,
 4.058318074279139,
 4.264265622790011,
 3.8211314143827484,
 3.6768797268964213,
 4.611000179652929,
 3.502819456218754,
 3.3290723074727784,
 3.37643634943052,
 3.1611300377311458,
 3.0012711085375834,
 3.722427801632492,
 3.495897313341363,
 2.6810580237439945,
 3.501457724294082,
 3.9091864285421547,
 4.2898436272819005,
 2.8683665291760283,
 2.9696922201932936,
 4.780409803730255,
 4.018395559150464,
 4.46824349582663,
 3.554425183158908,
 3.233764429617068,
 3.6406074601614447,
 3.094284804892858,
 3.2796450774134964,
 5,
 4.67079097629964,
 3.4320088182669224,
 4.214035123360253,
 1,
 3.603015541607353,
 3.6741328692728104,
 3.64364682160497,
 3.4866501696512797,
 2.282363262783683,
 3.7697248251531357,
 2.6690684739795376,
 4.19666512743151,
 2.239836628045898,
 3.4995531642860285,
 3.4233396267498897,
 3.8057178184043265,
 4.398884221242158,
 3.4392760087349075,
 3.8001958872519563,
 2.861663584254603,
 3.1914695770026245,
 3.5800776527751825,
 3.5306919632768676,
 3.8518210809341253,
 4.714948179930651,
 3.4219057986601156,
 3.449583164819961,
 3.052415991421654,
 3.572947064401608,
 2.3316794504496214,
 3.922429484309575,
 4.323519048118207,
 4.609138558955727,
 3.0767220088521725,
 5,
 3.242194495220472,
 4.124112162070223,
 4.1148873297923005,
 3.694157118421879,
 4.482015681954957,
 4.447536994631747,
 3.225618036906051,
 3.903126589723007,
 4.487826771815142,
 3.9548205589218863,
 3.270238288316834,
 3.9384148891333606,
 2.9715539010110716,
 4.39012971906211,
 3.1666514838893343,
 4.25270075982289,
 4.183221187271601,
 4.578469334703995,
 2.5637243320676952,
 3.9042090573168275,
 2.5669274021967063,
 4.021530737927975,
 2.6527892267480317,
 4.394543797351466,
 4.2848373662241706,
 4.331485382321805,
 3.4531543581846016,
 2.7428085556769832,
 3.099044171964384,
 4.182796816824512,
 3.5307546021987464,
 2.1413592281849065,
 4.897879442379346,
 4.093915183327167,
 3.9721540051746103,
 2.4802672527743637,
 4.866028352380159,
 3.855973353744433,
 4.1254254136809125,
 4.3493184373141265,
 2.654963446648509,
 4.379768489612816,
 4.28347853404222,
 3.096991819603101,
 3.8434332483789317,
 2.053660939769204,
 5,
 3.400498773344471,
 2.3405005177834584,
 4.136752587357338,
 2.9609413703762986,
 4.320956462652219,
 3.4510338318254057,
 4.681314110636248,
 2.5458523861114504,
 4.336380323346541,
 3.9932650525977254,
 3.4716279187597596,
 3.3123533985669553,
 3.451072496186332,
 4.135087007552866,
 3.8040118783633274,
 2.173764081992567,
 3.550383166393808,
 4.591656273034159,
 2.51799143960998,
 3.4770070206021786,
 3.8551623439270606,
 3.576352740184473,
 2.597227674622367,
 4.273364315016167,
 3.35729204286932,
 2.675729422964783,
 3.8970199204988676,
 3.743733165338417,
 3.6106166068809853,
 3.986660582919037,
 3.4330929273395614,
 4.33919579785817,
 4.477514449253738,
 4.620572167011077,
 4.230778366871132,
 4.853214835044337,
 4.524965087027509,
 2.5733004796484833,
 3.5300048095868486,
 4.471718784623933,
 3.704185324005761,
 3.413041426730689,
 2.383464489573457,
 4.486604697067767,
 4.8112764652583175,
 4.859197483731747,
 3.790596678520981,
 2.825846364227809,
 4.07318024705385,
 2.304929900649198,
 4.132607588190074,
 3.660475093775723,
 2.5355401340692283,
 5,
 4.517862853518284,
 2.990936733267249,
 3.40217207065481,
 4.072636254371366,
 3.794106233678284,
 4.9315661934647315,
 3.732734509098944,
 2.7281485704954074,
 2.398458905726243,
 4.289885798366832,
 3.1878553423407583,
 3.9097562154537644,
 4.56089775801021,
 3.1606853366415644,
 3.2814048262442905,
 3.5622349048273585,
 4.601565576128654,
 2.9911673152272584,
 3.3429250050354624,
 4.1645576140891505,
 4.575859446516989,
 4.23529712980189,
 3.607034641789265,
 2.958795621004274,
 4.051452003586337,
 4.752072462221666,
 4.723711840452684,
 3.188311688525991,
 4.093465311698889,
 5,
 4.0441499456613474,
 2.8807996313618247,
 2.8459838365182555,
 4.186582909879327,
 4.917138990083849,
 3.4375633646698356,
 3.2319833175798944,
 2.6521336642815734,
 2.4140433855286356,
 4.0921096124979774,
 3.2060549395215574,
 4.765799961099878,
 3.973889694861322,
 2.929290328344995,
 2.212965187204737,
 3.4300086114554276,
 3.553468295015116,
 2.955128021209112,
 3.2096170332857086,
 4.119365482397105,
 3.4225103627297875,
 5,
 2.3031090228313036,
 3.613076568512565,
 2.0046619116271973,
 3.3679396907766477,
 3.809105355036593,
 4.1885940196669305,
 4.109060046051874,
 3.4964769466643038,
 2.9923201195296176,
 3.153883830891079,
 3.9494327890387506,
 4.610508997878655,
 4.6345554112918395,
 3.832167188205414,
 3.948266166224193,
 4.8421481111341595,
 3.4930572664587918,
 2.613443101865272,
 3.7163610046854187,
 3.982388979292275,
 3.3985963395940626,
 3.4847968772103486,
 3.9060180134697142,
 2.9356548518304413,
 4.150598261111848,
 4.34418534124751,
 4.389509717481171,
 3.973389636785812,
 3.9188973999618564,
 2.938613985376376,
 4.3828186694290165,
 2.478496896856962,
 3.8719555684823073,
 3.263426912598217,
 4.835074191902665,
 3.353107205168039,
 3.9434125348430706,
 4.08226840764486,
 3.4296376050009987,
 4.083064650137927,
 4.413244525629732,
 3.0137600478962603,
 1.155650585793429,
 1.8443785582110896,
 2.1083555336547617,
 4.043999854548413,
 3.7429287602352064,
 3.8280106113541112,
 2.7496351659903286,
 5,
 4.027333918759871,
 4.213330701684239,
 4.470436449048463,
 4.082471687501312,
 3.7915370432651407,
 3.264461938342782,
 3.6161132150680597,
 2.0979022101628293,
 1.72590084987042,
 3.9180675866535903,
 3.4918364050579003,
 3.2479111929571407,
 3.915407643392304,
 3.7146449645403283,
 4.528939246174554,
 3.4738530891832884,
 4.5560129053499,
 3.9791960059036806,
 3.7125039019182053,
 3.956972538113052,
 2.579318193786982,
 4.726044842431678,
 2.8623726889407264,
 3.4663059406849417,
 3.688018771851807,
 3.5467465122377004,
 4.234844239077997,
 2.179321420510247,
 3.1482645984584545,
 4.678170756277786,
 3.2678312244796954,
 3.4015921393175055,
 4.241925913533503,
 3.723692600790957,
 4.52131680941225,
 4.434642662292866,
 3.6795881907401164,
 3.9899527851197822,
 2.8296194213722634,
 3.077670598974574,
 3.920462753434399,
 1.92553480935574,
 4.876645603567538,
 4.562675632835981,
 2.6299817068157876,
 3.096446085029959,
 3.634809875567798,
 4.640135967528383,
 2.8558871116832347,
 4.9232364157208615,
 4.420254392489259,
 4.287253527703381,
 3.632688948451544,
 2.234533983612143,
 3.4964353573809266,
 4.2667460233196595,
 2.9895863018169075,
 3.026995978487675,
 3.96711871851524,
 4.462126541916201,
 3.020389085718145,
 2.5277711376390406,
 2.864904052558928,
 3.873989850814061,
 3.917925330495603,
 3.164012982159616,
 3.158359385383582,
 4.0709671950121695,
 3.542877021541336,
 4.057394109877512,
 4.0680220116625225,
 4.2247972992291185,
 2.0969076660745825,
 3.2323891610306577,
 2.1396892397101057,
 3.6259870573824915,
 4.533258845629862,
 3.8614737946981204,
 3.8417128768368647,
 3.336527103383716,
 2.5862146977161937,
 4.437447727380055,
 3.912985977297119,
 2.1226055817126266,
 2.6473853212631333,
 2.4649391232459528,
 3.3800316460262905,
 4.342090728932964,
 4.540851054130087,
 4.2004905232814815,
 4.066828231971687,
 3.72421813993317,
 3.8417071234973714,
 3.9149249610500734,
 4.122802797890403,
 4.12696373249619,
 3.511790632481715,
 2.431182273355976,
 3.4441551969974595,
 2.659225241721081,
 3.9184935818485798,
 4.099164638590081,
 2.960139939834705,
 3.334758367858004,
 3.1243312919398103,
 4.827753959166858,
 3.950516790890307,
 5,
 4.08474358993318,
 3.7173761997548462,
 2.3870344749363013,
 3.7249339146284473,
 3.7653329191901594,
 4.0606171647452705,
 3.6176708996127,
 3.3759050085640365,
 4.53333769942139,
 3.8202851578145203,
 3.8610905876937895,
 1.2582101100210172,
 4.432866226218475,
 3.922628493671748,
 3.711466755183177,
 4.548510573547837,
 3.7185675254205965,
 2.905968776063044,
 4.3729823755626835,
 3.977819035196063,
 3.468803409007927,
 1.650963226522231,
 3.8824105977255137,
 4.548339148520037,
 4.117103931071294,
 2.291469064151336,
 4.623322405611248,
 2.8163715523619754,
 4.172678936568535,
 2.7945373322953024,
 3.4523442014934895,
 4.596302893612484,
 3.1636348778629397,
 4.115292222498662,
 3.9157414980000853,
 3.6231161280002797,
 2.935867448593821,
 4.35023777976688,
 3.235750667399357,
 3.74612582557067,
 1.1769723434237513,
 2.7211773500884044,
 3.582778357542607,
 4.7281175670786695,
 2.5411839057651275,
 4.124224291968005,
 4.159877771509298,
 3.7145958753031483,
 2.3522903815791323,
 1.0812325063327226,
 3.1847709620228946,
 3.7703722680406626,
 3.9069709937668655,
 2.255283652525493,
 4.5784269193824505,
 3.5036696807676657,
 2.9927255220635365,
 3.378930460711277,
 4.43867693740187,
 3.7242302715618196,
 2.9854206857696037,
 2.089816414206471,
 4.27330258252606,
 3.5458377708389404,
 4.089206616646634,
 3.7742266830714044,
 4.369443749530306,
 3.0587546730628645,
 3.333677785902526,
 3.4525707649298605,
 3.4510571061169073,
 3.926784836930596,
 3.8379756617557472,
 3.249761647013175,
 3.394243648267173,
 3.831922502003384,
 4.548353019846853,
 2.78525662039777,
 3.7306062262369446,
 3.630526437907615,
 3.499594749537537,
 4.910489605896347,
 4.05316132287189,
 3.4471435122635934,
 3.6569492224411544,
 4.373323946346006,
 4.277467323832419,
 4.33220487993062,
 4.194281867036667,
 3.7842711130240425,
 2.015369039974778,
 5,
 2.8629681066254626,
 4.427423579964356,
 3.6958773958134516,
 2.607270669243881,
 4.39329098459037,
 2.6747141689144907,
 4.056907369804785,
 4.354322421585954,
 4.225600120546728,
 3.7115976397609582,
 4.950122779982156,
 4.368776180476139,
 2.9066565899777306,
 4.26064436855827,
 2.760520438084476,
 4.010414137019858,
 3.066899186483949,
 3.447607231916119,
 4.4550668571690535,
 2.9205645112854457,
 3.801448771028523,
 3.775272397855222,
 4.894590649185871,
 3.825167374010725,
 4.201340479618433,
 4.174753934525725,
 3.741204038336736,
 4.299178232684243,
 3.164438384100251,
 3.5600707321848977,
 4.134047480558196,
 4.538898930320572,
 4.069877245276259,
 4.32373087316829,
 3.6231615332061273,
 3.005147114813084,
 3.732305214768564,
 2.3869337565863344,
 4.8377071069216875,
 3.3915626600103055,
 4.479848121314322,
 4.554790004098364,
 3.168488861727364,
 2.589530743408728,
 3.4053539560014494,
 4.367785332737098,
 4.372126275465732,
 1.9443458532854838,
 3.331712076595515,
 4.307005528744944,
 4.828946098817973,
 2.6521277338798757,
 4.549412440525335,
 3.397660569075548,
 5,
 3.9052766107670025,
 4.241912983418412,
 3.641135300294467,
 2.133161072857228,
 3.391619374318334,
 4.201552410618049,
 2.8557018702954586,
 4.429458183586843,
 4.0919434261304914,
 3.938181046500526,
 3.441024351174699,
 3.6522065594436217,
 2.9533265963825777,
 3.1344224658216957,
 4.091041334863393,
 3.372455993031387,
 3.3524440524991026,
 2.6654246876771617,
 4.746551552593699,
 2.6932711938482576,
 3.0525567663100284,
 3.203185665140522,
 1.874864860188742,
 3.4306841992922146,
 4.066320498054936,
 4.596503746614533,
 4.1456175823024655,
 4.68379537887057,
 3.270044315589307,
 3.8148086656599887,
 2.7795728770676167,
 3.144404719635462,
 2.6454791715439243,
 4.618727473350733,
 4.091874353395922,
 4.267847275685323,
 2.885496495609541,
 3.876854503687099,
 2.7295273502565904,
 4.74149699134904,
 3.3294324114404774,
 4.651022707023997,
 5,
 3.873834843687967,
 4.190593720936211,
 3.880905600251993,
 3.579093743534084,
 4.659237062606718,
 3.0356046356001323,
 3.0720449472782723,
 3.5378814438068042,
 2.8326694643200354,
 3.968638584397368,
 3.2907410608008307,
 4.536699733096347,
 2.575329747706039,
 4.450083593948533,
 2.640907894594461,
 3.7580749669389624,
 4.62276940795672,
 3.8638040097068465,
 4.116344025527788,
 4.722192833462646,
 4.38078491018447,
 3.7389140952035675,
 3.4605034169051523,
 2.9743764555500083,
 3.913542503985032,
 2.614518319104333,
 2.8981204665098943,
 3.868675418623438,
 2.364804446448484,
 4.637674395241674,
 3.7444611649408426,
 3.2254796339502185,
 3.0431465138289324,
 4.257202620172124,
 3.8012310768049535,
 4.314346699222087,
 5,
 4.445931437242835,
 2.62323336641195,
 2.430355571493982,
 3.6506557426672126,
 3.9132131388053812,
 3.744446190302029,
 5,
 2.8437990946167173,
 3.701798925387971,
 4.990554865351645,
 3.6645810060441195,
 2.8034374681633594,
 4.6246569422400325,
 3.8754084546231176,
 3.5009820659018067,
 3.5068599606471795,
 4.468794803011112,
 3.5266222248712635,
 3.291308621880003,
 3.853982443578217,
 2.816239303492738,
 4.012583225558279,
 3.75008663576196,
 3.011542608130493,
 4.4344797508299045,
 2.6815576095363745,
 4.958471412006052,
 3.2860784041604156,
 3.49552184578969,
 3.0557646896223356,
 3.8314964088047936,
 1.2822032472883491,
 2.219719976850712,
 3.7029336118833247,
 4.49447373127419,
 4.581213966055029,
 4.088701522522408,
 4.387091113464772,
 3.2779041652205727,
 3.580066501959145,
 2.9257990648939685,
 2.786687932257566,
 3.2812275390193584,
 3.021662237426196,
 4.2361994825577876,
 4.156865280581737,
 3.9223233803016964,
 3.902145897928997,
 4.252747200950376,
 3.569247038934497,
 3.6349857568668407,
 ...]

# Prepare submission

In [33]:
import pandas as pd 

df = pd.DataFrame(predictions, columns=['Predicted'])
df.index = df.index + 1
df.index.names = ['ID']
df.head()
df.to_csv('SVDTuned5.csv')

In [38]:
merged = pd.merge(testing, rating, how='inner', on=['UserID', 'MovieID'])

In [59]:
merged.head(10)

   UserID  MovieID  Timestamp_x  Rating  Timestamp_y
0     324     2803    976406738       4    976406738
1    3167     3253    968818650       4    968818650
2    1209     1459    974842767       2    974842767
3    2298     3869    974500026       3    974500026
4    1694      916    974715889       4    974715889
5     890     2424    980132318       2    980132318
6     343      435    988597018       4    988597018
7    2288      235    974520309       4    974520309
8     935      480    975181384       3    975181384
9     850     2132    975351212       5    975351212

In [53]:
rating.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [55]:
rating['UserID'].

0             1
1             1
2             1
3             1
4             1
           ...
1000204    6040
1000205    6040
1000206    6040
1000207    6040
1000208    6040
Name: UserID, Length: 1000209, dtype: int64

In [57]:
merged.head(100)

    UserID  MovieID  Timestamp_x  Rating  Timestamp_y
0      324     2803    976406738       4    976406738
1     3167     3253    968818650       4    968818650
2     1209     1459    974842767       2    974842767
3     2298     3869    974500026       3    974500026
4     1694      916    974715889       4    974715889
..     ...      ...          ...     ...          ...
95    1312     1025    974780592       5    974780592
96    1314     1487    975533351       4    975533351
97    2793     2161    972935183       2    972935183
98    1110     2690    974920382       3    974920382
99    1284     3946    974843364       1    974843364

[100 rows x 5 columns]

In [42]:
print(len(merged))
print(len(testing))
print(len(rating))

154461
300063
514876